<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

 <servlet>
 <servlet-name>s1</servlet-name>
 <servlet-class>mypack.addServlet</servlet-class>
 </servlet>   
 <servlet-mapping>
 <servlet-name>s1</servlet-name>
 <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
   <servlet>
 <servlet-name>s2</servlet-name>
 <servlet-class>mypack.findServlet</servlet-class>
 </servlet>   
 <servlet-mapping>
 <servlet-name>s2</servlet-name>
 <url-pattern>/find</url-pattern>
  </servlet-mapping>
  
  <servlet>
 <servlet-name>s3</servlet-name>
 <servlet-class>mypack.findAllServlet</servlet-class>
 </servlet>   
 <servlet-mapping>
 <servlet-name>s3</servlet-name>
 <url-pattern>/findall</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>s4</servlet-name>
  <servlet-class>mypack.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>s4</servlet-name>
   <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>s5</servlet-name>
  <servlet-class>mypack.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>s5</servlet-name>
  <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>